<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912217437457-q13eqpmq9s5f0ueqt06vt4na4hsnuoho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912217437457-q13eqpmq9s5f0ueqt06vt4na4hsnuoho</string>
	<key>API_KEY</key>
	<string>AIzaSyCKCqJIJiTBo4tJRZOSWSDwKPBXeT8_HdYB</string>
	<key>GCM_SENDER_ID</key>
	<string>912217437457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>education.techit.Monologue</string>
	<key>PROJECT_ID</key>
	<string>monologue-e20e3</string>
	<key>STORAGE_BUCKET</key>
	<string>monologue-e20e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:912217437457:ios:db9c33c24ee5bc39d0c8b0</string>
</dict>
</plist>
